@media screen {
    body { background-color: #88c1d0;}
              }

.container {
        display: flex;
        flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
        justify-content: space-between;
           }
      
      .section {
        background-color: lightseagreen;
        flex: 1 1 25%; /* Chaque section occupe 25% de l'espace disponible */
        margin: 100px; /* Marge entre les sections */
        min-width: 200px; /* Largeur minimale des sections */
        box-sizing: border-box; /* Inclure la marge et le rembourrage dans la largeur de la section */
               }


      @media screen and (min-width: 1680px)
 {.section {
        background-color: lightseagreen;
        flex: 1 1 25%; /* Correction : la syntaxe flex est "flex-grow flex-shrink flex-basis" */
        flex-basis: auto;
        margin: 100px;
        min-width: 200px;
        box-sizing: border-box;
           }
 }
      @media screen and (min-width: 768px) and (max-width: 1599px) 
 {.section {
    background-color: red;
    flex: 1 1 25%; /* Correction : la syntaxe flex est "flex-grow flex-shrink flex-basis" */
    flex-basis: auto;
    margin-bottom: 100px;
    width: calc(50% 10px);
    box-sizing: border-box;
           }
  }
      @media screen and (max-width: 767px)
      {.section {
        background-color: greenyellow;
        flex: 1 1 50%; /* Correction : la syntaxe flex est "flex-grow flex-shrink flex-basis" */
        flex-direction: column;
        margin: 100px;
        min-width: 200px;
        box-sizing: border-box;
                }
      }